In [138]:
import os
import pandas as pd
import numpy as np

In [7]:
dataset_folder_path = "../raw_datasets"

## [Curse-detection-data](https://github.com/2runo/Curse-detection-data)
* 욕설 여부를 분류한 한글 데이터셋

In [11]:
df_curse_detection = pd.read_csv(os.path.join(dataset_folder_path, curse_detection_path), delimiter='|', header=None, names=['Text', 'Label'])

In [12]:
df_curse_detection

                                                   Text  Label
0                                             좌배 까는건 ㅇㅂ      1
1                          집에 롱 패딩만 세 개다. 10년 더 입어야지 ㅋㅋ      0
2           개소리야 니가 빨갱이를 옹호하고 드루킹을 ㅇㅇ짓이라고 말못해서 삐진거야 빨갱아      1
3                                           세탁이라고 봐도 된다      0
4                                    애새끼가 초딩도 아니고 ㅋㅋㅋㅋ       1
...                                                 ...    ...
5819         좌우 헬파이어 3개씩 6개 장착에 아파치보다 약하지만 20mm 기관포 장착임      0
5820  세금 내놓으라고 데모질 중 ㅋㅋ간첩, 도둑놈 새끼들이 대통령 해처먹으니까  나도 같...      1
5821                                          너가 한 말 중에      0
5822                                            제갈대중 ㅇㅂ      0
5823                           우리나라교회는 악마들이모여 주뎅이 처벌리고       1

[5824 rows x 2 columns]

## [Korean HateSpeech Dataset](https://github.com/kocohub/korean-hate-speech)
* Korean corpus for toxic speech detection

In [13]:
df_korean_hatespeech_train = pd.read_csv(
    os.path.join(dataset_folder_path, hate_speech_labeled_train_path), delimiter="\t"
)

df_korean_hatespeech_dev = pd.read_csv(
    os.path.join(dataset_folder_path, hate_speech_labeled_dev_path), delimiter="\t"
)

In [22]:
df_korean_hatespeech = pd.concat(
    [df_korean_hatespeech_train, df_korean_hatespeech_dev], axis=0
).reset_index(drop=True)

In [27]:
df_korean_hatespeech["Label"] = df_korean_hatespeech.apply(lambda row: (1 if row["contain_gender_bias"] or row["bias"] in ["others", "gender"] or row["hate"] in ["hate", "offensive"] else 0), axis=1)

In [31]:
df_korean_hatespeech.drop(columns=["contain_gender_bias", "bias", "hate"], inplace=True)
df_korean_hatespeech.rename(columns={"comments": "Text"}, inplace=True)

In [32]:
df_korean_hatespeech

                                                   Text  Label
0     (현재 호텔주인 심정) 아18 난 마른하늘에 날벼락맞고 호텔망하게생겼는데 누군 계속...      1
1     ....한국적인 미인의 대표적인 분...너무나 곱고아름다운모습...그모습뒤의 슬픔을...      0
2     ...못된 넘들...남의 고통을 즐겼던 넘들..이젠 마땅한 처벌을 받아야지..,그래...      1
3                    1,2화 어설펐는데 3,4화 지나서부터는 갈수록 너무 재밌던데      0
4     1. 사람 얼굴 손톱으로 긁은것은 인격살해이고2. 동영상이 몰카냐? 메걸리안들 생각...      1
...                                                 ...    ...
8362                                  지현우 범죄 저지르지 않았나요?      1
8363                                    여자인생 망칠 일 있나 ㅋㅋ      1
8364            근데 전라도에서 사고가 났는데 굳이 서울까지 와서 병원에 가느 이유는?      1
8365  할매젖x, 뱃살x, 몸매 s라인, 유륜은 적당해야됨(너무크거나 너무 작아도 x), ...      1
8366  남자가 잘못한거라면... 반성도 없다면...나였다면 ... 여자처럼 아주 못되게 할...      1

[8367 rows x 2 columns]

## [Korean UnSmile Dataset](https://github.com/smilegate-ai/korean_unsmile_dataset)

In [33]:
df_unsmile_train = pd.read_csv(
    os.path.join(dataset_folder_path, unsmile_train_path), delimiter="\t"
)
df_unsmile_valid = pd.read_csv(
    os.path.join(dataset_folder_path, unsmile_valid_path), delimiter="\t"
)

In [37]:
df_unsmile = pd.concat([df_unsmile_train, df_unsmile_valid], axis=0).reset_index(drop=True)
df_unsmile = df_unsmile[["문장", "clean"]]
df_unsmile.rename(columns={"문장":"Text", "clean":"Label"}, inplace=True)
df_unsmile["Label"] = df_unsmile["Label"].apply(lambda x: 1 if x == 0 else 0)

In [39]:
df_unsmile

                                                    Text  Label
0                                 일안하는 시간은 쉬고싶어서 그런게 아닐까      0
1      아동성범죄와 페도버는 기록바 끊어져 영원히 고통 받는다. 무슬림 50퍼 근친이다. ...      1
2      루나 솔로앨범 나왔을 때부터 머모 기운 있었음 ㅇㅇ Keep o  doin 진짜 띵...      0
3      홍팍에도 어버이연합인가 보내요 뭐 이런뎃글 있는데 이거 어버이연합측에 신고하면 그쪽...      0
4      아놔 왜 여기 댓들은 다 여자들이 김치녀라고 먼저 불렸다! 여자들은 더 심하게 그런...      1
...                                                  ...    ...
18737                        저게 시대적언어면 한남충도 시대적언어 아니노 ㅋㅋ      1
18738                           다른것보다 눈이 어떻게 저렇게 생기노.탄식.      1
18739             막노동을 해도 한국에살고말지 미쳤다고 남미를가냐?차라리 자살을하겠다.      1
18740  ‘사형을 구형하였으나 여성인 점을 감안해 25년 선고’ ???내가 뭐 잘못본건가?개...      1
18741                            참군남이노 남자의 용도는 고기방패다 ㅋㅋㅋ      1

[18742 rows x 2 columns]

## [HateScore : Human-in-the-Loop and Neutral Korean Multi-label Online Hate Speech Dataset](https://github.com/sgunderscore/hatescore-korean-hate-speech)

In [40]:
df_hatescore = pd.read_csv(os.path.join(dataset_folder_path, hatescore_path))

In [45]:
df_hatescore.drop(columns=["Unnamed: 0", "microlabel", "source"], inplace=True)
df_hatescore.rename(columns={"comment":"Text", "macrolabel":"Label"}, inplace=True)
df_hatescore["Label"] = df_hatescore["Label"].apply(lambda x: 1 if x in ["혐오발언", "단순 악플"] else 0)

In [46]:
df_hatescore

                                                    Text  Label
0                                               절라남도 벌레?      1
1      부산에서 학식먹었는데 mt 동기mt 동아리mt 단한번도 해운대 안감 부산 현지인들이...      1
2                                            쌍도 여혐끝판왕의성지      1
3                                            제목보고 전라도 직감      1
4                                            홍어지 병신아 ㅋㅋㅋ      1
...                                                  ...    ...
11103                               안녕하세요 이란에서 태어난 사람인가?      0
11104                                        트랜스젠더인 거 같네      0
11105                                 저 분은 리비아 친구 처음 만나네      0
11106                                    쟤는 독일 사람 처음 만나네      0
11107                                그는 독일에서 온 사람 처음 만나네      0

[11108 rows x 2 columns]

## [korean malicious comments dataset](https://github.com/ZIZUN/korean-malicious-comments-dataset)

In [50]:
df_malicious_comment = pd.read_csv(
    os.path.join(dataset_folder_path, malicious_comment_path), delimiter="\t"
)

In [55]:
df_malicious_comment.rename(columns={"content":"Text", "lable":"Label"}, inplace=True)
df_malicious_comment["Label"] = df_malicious_comment["Label"].apply(lambda x: 1 if x == 1.0 else 0)

In [56]:
df_malicious_comment

                                                   Text  Label
0     이종석 한효주 나오는 드라마 이후로 드라마 안봤다. 2년전인가?? 좀 신선했었지. ...      0
1                       씨바알..노무노무 술프노... 오늘 저녁은 꽂등심이다ㅠㅜ      0
2                                              짱깨 꺼라ㅡ패쓰      0
3     그들의 사생활 ~ 고인이된 설리를 위해서라도 모두 조용하길 지금 누굴 탓한다고 무슨...      1
4     아무리 법이 뭣같아도 무슨 자격으로 개인의 신상정보를 불특정 다수에게 공개하는지 도...      1
...                                                 ...    ...
9995                      이거 보다 더한 막장의 드라마도 넋놓고 보면서 무슨?      1
9996                                  머...제네시스..올라프에디션?      1
9997                        항상 여자로 ㅡ ㅡ 저지랄 들이야 남자들 벗겨봐라      0
9998  첫번째 이유가 ㄹㅇ 맞지특히나 뉴스나 기사 몇줄읽은 학생들끼리 대화해도 서로 존나 ...      0
9999                     Lg폰 누가쓰냐 gps도 못잡는폰 쓰래기 통에나 버려라      0

[10000 rows x 2 columns]

## [KOLD: Korean Offensive Language Dataset](https://github.com/boychaboy/KOLD)

In [61]:
df_kold = pd.read_json(os.path.join(dataset_folder_path, kold_path))

In [64]:
df_kold = df_kold[["comment", "OFF"]]
df_kold.rename(columns={"comment":"Text", "OFF":"Label"}, inplace=True)
df_kold["Label"] = df_kold["Label"].apply(lambda x: 1 if x == True else 0)

In [65]:
df_kold

                                                    Text  Label
0      남녀평등 주장할 거면 여성징병제에도 동의하라고ㅋㅋㅋ 그리고 내 말에 그냥 시비만 걸...      1
1                                     의학에도 젠더 사상이 붙네 ㄷㄷ;      1
2      루브르 박물관에 있는 모나리자 머리도 단발로 수정하고,미국에 있는 자유의 여신상도 ...      1
3      진짜 어이가 없네 딥페이크 만든 사람들도 처벌하고 알페스 만든 사람들도 처벌하라니깐...      1
4                                           브레이브걸스=페미아이돌      1
...                                                  ...    ...
40424                        우리나라 민주당은 탈북민들을 배신자라고 표현하지.      1
40425                                        차별금지법..반대..      1
40426  다른 나라 사람을 동포라 부르고 중국 조선족을 동포라 안부르니까 문제가 되는거다 동...      0
40427        지금은 죽도록 하나님의 진리를 지켜 충성된 주의 백성임을 입증해야할 때입니다.      0
40428                                        전혀 피로하지 않아여      0

[40429 rows x 2 columns]

## [DKTC (Dataset of Korean Threatening Conversations)](https://github.com/tunib-ai/DKTC)

In [67]:
df_dktc = pd.read_csv(os.path.join(dataset_folder_path, dktc_path))

In [70]:
df_dktc.drop(columns=["idx"], inplace=True)
df_dktc.rename(columns={"class":"Label", "conversation":"Text"}, inplace=True)
df_dktc["Label"] = df_dktc["Label"].apply(lambda x: 1 if x in ["기타 괴롭힘 대화", "갈취 대화", "직장 내 괴롭힘 대화", "협박 대화"] else 0)

In [71]:
df_dktc

      Label                                               Text
0         1  지금 너 스스로를 죽여달라고 애원하는 것인가?\n 아닙니다. 죄송합니다.\n 죽을 ...
1         1  길동경찰서입니다.\n9시 40분 마트에 폭발물을 설치할거다.\n네?\n똑바로 들어 ...
2         1  너 되게 귀여운거 알지? 나보다 작은 남자는 첨봤어.\n그만해. 니들 놀리는거 재미...
3         1  어이 거기\n예??\n너 말이야 너. 이리 오라고\n무슨 일.\n너 옷 좋아보인다?...
4         1  저기요 혹시 날이 너무 뜨겁잖아요? 저희 회사에서 이 선크림 파는데 한 번 손등에 ...
...     ...                                                ...
3945      1  준하야 넌 대가리가 왜이렇게 크냐?\n내 머리가 뭐.\n밥먹으면 대가리만 크냐 너는...
3946      1  내가 지금 너 아들 김길준 데리고 있어. 살리고 싶으면 계좌에 1억만 보내\n예.?...
3947      1  나는 씨 같은 사람 보면 참 신기하더라. 어떻게 저렇게 살지.\n왜 그래. 들리겠어...
3948      1  누구맘대로 여기서 장사하래?\n이게 무슨일입니까?\n남의 구역에서 장사하려면 자릿세...
3949      1  희정씨\n네?\n주말에 시간이 넘쳐나나봐\n갑자기 왜그러세요?\n손이 빤짝빤짝 네일...

[3950 rows x 2 columns]

## [K-MHaS: A Multi-label Hate Speech Detection Dataset in Korean Online News Comment](https://github.com/devRangers/chatchat-ai)

In [86]:
df_kmhas_train = pd.read_csv(
    os.path.join(dataset_folder_path, kmhas_train_path), delimiter="\t"
)
df_kmhas_valid = pd.read_csv(
    os.path.join(dataset_folder_path, kmhas_valid_path), delimiter="\t"
)
df_kmhas_test = pd.read_csv(
    os.path.join(dataset_folder_path, kmhas_test_path), delimiter="\t"
)

In [89]:
df_kmhas = pd.concat([df_kmhas_train, df_kmhas_valid, df_kmhas_test], axis=0)
df_kmhas.rename(columns={"document":"Text", "label":"Label"}, inplace=True)
df_kmhas["Label"] = df_kmhas["Label"].apply(lambda x: 0 if x == "8" else 1)

In [90]:
df_kmhas

                                                 Text  Label
0                                  자한당틀딱들.. 악플질 고만해라.      1
1                             정치적으로 편향된 평론한은 분은 별로...      0
2           적당히좀 쳐먹지.그랬냐??? 안그래도 문재인 때문에 나라 엉망진창인데...      1
3                                     안서는 아재들 풀발기 ㅋㄲㅋ      1
4                                            우와 ㅋ 능력자      0
...                                               ...    ...
21934                      신천지들 소원대로 전부 하느님 곁으로 보내주세요      1
21935  댓글보니 다 언니사랑해요 언니언니 거리네확실히 뷰티유튜버라 여자들 댓글이 대부분이네      1
21936                       중국이란 나라의 수준을 고스란히 보여주네...      0
21937                김새롬같은 철부지를 아내로 받아드린게 잘못ㅠㅠ 힘내세요ㅠㅠ      0
21938                        송가인은 미운 우리새끼에 나와야하는거아니냐?      0

[109692 rows x 2 columns]

## [KakaoData](https://github.com/Ludobico/KakaoChatData)

In [91]:
df_kakao_chat = pd.read_csv(os.path.join(dataset_folder_path, kakao_chat_path))

In [93]:
combined_series = pd.concat([df_kakao_chat["req"], df_kakao_chat["res"]], axis=0).reset_index(drop=True)
df_kakao_chat = pd.DataFrame(combined_series, columns=["Text"])
df_kakao_chat["Label"] = 0

In [94]:
df_kakao_chat

                                 Text  Label
0                     너 좋아하는 차 종류 있어?      0
1                     ㅋㅋ 마시는 차 말한 거야!      0
2                      완전 곡물류 좋아하네 ㅋㅋ      0
3                       그럼 오래 걸리지 않아?      0
4                 근데 냉침 하는 것도 귀찮겠다 ㅜㅠ      0
...                               ...    ...
177943                 내일 아르바이트 면접이야!      0
177944                나 카페 아르바이트 지원했어      0
177945  맞아 나 전에 카페 경력 일년 정도 있어서 괜찮을걸?      0
177946        응 근데 까먹었긴 한데 일 배우면 또 다해      0
177947                    응 붙으면 말해줄게!      0

[177948 rows x 2 columns]

## [HuLiC : Human Like AI Conversation](https://github.com/smilegate-ai/HuLiC)

In [97]:
df_huric = pd.read_excel(os.path.join(dataset_folder_path, huric_path))

In [99]:
combined_series = pd.concat([df_huric["Question"], df_huric["Answer"]], axis=0).reset_index(drop=True)
df_huric = pd.DataFrame(combined_series, columns=["Text"])
df_huric["Label"] = 0

In [100]:
df_huric

                            Text  Label
0                     요새 너무 덥지ㅠㅠ      0
1                      뭐하고 지냈어??      0
2       그렇구나 나는 요새 집에서 영화 보고 있어!      0
3                           미나리!      0
4         웅웅 되게 잔잔하면서도 여운이 있더라고~      0
...                          ...    ...
79995                      과연..!      0
79996         오~정답! ㅋㅋㅋ너도 이거봤구나?      0
79997                  오~책도 재밌나?      0
79998  근데 나는 영화를 본 이상 책은 재미없을것같아      0
79999           난 영화로 엄청 감동받았었거든      0

[80000 rows x 2 columns]

## [OPELA](https://github.com/smilegate-ai/OPELA/tree/main)

In [122]:
df_oplea = pd.read_csv(os.path.join(dataset_folder_path, oplea_path))

In [123]:
split_data = (
    df_oplea["persona_text_all"].dropna().apply(lambda x: str(x).split("\n")).tolist()
)
flattened_data = [item for sublist in split_data for item in sublist]

df_oplea = pd.DataFrame(flattened_data, columns=["Text"])
df_oplea["Label"] = 0

In [124]:
df_oplea

                                            Text  Label
0      앗 너무 늦게 확인해서 미안해 ㅠ.ㅠ 나 어제는 어머니랑 볼링장 다녀왔어!      0
1                                 넌 뭐하구 보냈어 ㅎ.ㅎ?      0
2                                   와 대단한 취미인데??      0
3                               목소리가 엄청 좋은가보다 ㅎㅎ      0
4                                 난 이제 저녁 준비할려구!      0
...                                          ...    ...
37323                                       오커오케      0
37324                                         오케      0
37325                                     굿 밤~~~      0
37326                                       ㅋㅋㅋㅋ      0
37327                                       군밤해라      0

[37328 rows x 2 columns]

## Concat all datasets and split for labeling

In [136]:
df_combined = pd.concat(
    [
        df_curse_detection,
        df_korean_hatespeech,
        df_unsmile,
        df_hatescore,
        df_malicious_comment,
        df_kold,
        df_dktc,
        df_kmhas,
        df_kakao_chat,
        df_huric,
        df_oplea,
    ],
    ignore_index=True,
)
df_combined = df_combined.drop_duplicates(subset=["Text"])
df_combined = df_combined.sample(frac=1, random_state=42).reset_index(drop=True)

In [139]:
stratified_dfs = []
for label in df_combined["Label"].unique():
    label_df = df_combined[df_combined["Label"] == label]
    stratified_dfs.extend(np.array_split(label_df, 10))

In [141]:
df_stratified_combined = (
    pd.concat(stratified_dfs).sample(frac=1, random_state=42).reset_index(drop=True)
)

In [134]:
labeling_datasets_path = "../labeling_datasets"

os.makedirs(labeling_datasets_path, exist_ok=True)

In [143]:
rows_per_file = len(df_combined) // 10

for i in range(10):
    start_row = i * rows_per_file

    end_row = (i + 1) * rows_per_file if i < 9 else len(df_stratified_combined)
    df_part = df_stratified_combined.iloc[start_row:end_row]
    file_path = os.path.join(labeling_datasets_path, f"labeling_{i+1}.csv")
    df_part.to_csv(file_path, index=False)

In [144]:
df_combined["Label"].value_counts()

0    332507
1     97210
Name: Label, dtype: int64

In [145]:
df_temp = pd.read_csv("../labeling_datasets/labeling_3.csv")
df_temp["Label"].value_counts()

0    33234
1     9737
Name: Label, dtype: int64